# dependencies
node_modules/

# next.js
.next/
out/

# build / tools
.tools/

# env
.env
.env*.local

# os
.DS_Store
**/.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts
